.home{
    background-color: bisque;
}

    button{
        padding:6px;
        border:none;
        background-color: #e68919;  
        color:aliceblue;
        font-weight: bolder;
        font-size: larger;
        cursor: pointer;
        border-radius: 4px;
    }
button:hover{
    background-color: #a35c05;     
}
.container{
    background-color: #e68919;   
    color:white;
    width:60%;
    height:60%;
    border-radius: 10px;
}
.bu{
    background-color:rgb(218, 42, 42);  
}
.img1{
    border:none
}
.heading {
    font-size:50px;
    font-weight: bold;
    color:red;
}
#img2
{
    border:none ;
}
.contact{
    background-color:peachpuff;
    border-radius: 10px;
    
}
.tab{
    width:100%;

}
.tab td{
    text-align: center;
}
a{
    text-decoration:none ;
}
